<header class="h-16">
  <nav>
    <div class="flex flex-row">
      <div class="basis-1/2">
        <img
          class="h-8 inline-block pr-2"
          src="../../../assets/weather-icon.png"
          alt="Sun and clouds - Weather app icon"
        />
        <span class="text-black dark:text-white">Weather</span>
      </div>
      <div class="basis-1/2 flex justify-end">
        <div class="mr-10">
          <label class="inline-flex items-center cursor-pointer">
            <input
              type="checkbox"
              value=""
              class="sr-only peer"
              (click)="darkModeToggle($event)"
            />
            <div
              class="relative w-11 h-6 bg-gray-200 dark:bg-gray-700 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-300 dark:peer-focus:ring-gray-950 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-gray-950"
            ></div>
            <span class="ms-3 text-sm font-medium text-black dark:text-white"
              >Dark Mode</span
            >
          </label>
        </div>
        <div class="text-black dark:text-white">📞 Contact</div>
      </div>
    </div>
  </nav>
</header>
